@model WordMaster.Models.Word

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Word</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>

    </dl>
</div>

<table class="table">

    @if(@Model.WordUsages.Count>0)
    {
        foreach (var item in Model.WordUsages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Word)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usage)
                </td>
            </tr>
        }
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
